<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="shortcut icon"
    href="https://static-assets.bamgrid.com/product/starplus/favicons/favicon.e1b583d6771b7121f3b57326dfe078b6.ico"
    type="image/x-icon">
  <title>Saiba mais sobre o Star+</title>
</head>

<body onload="jaLogado()">
  <div class="wrapper">
    <button onclick="apagarToken()">APAGAR TOKEN</button>
    <div class="divBotao">
      <a href="#modalPost">
        <div class="botoes" id="botaoResenha"><p>Postar Resenha</p></div>
      </a>
    </div>
    <div class="Pesquisa" id="PesquisaFilmes">
      <input type="text" placeholder="Pesquisar filme" class="input" id="textoPesquisa">
      <div class="botaoPesquisa" id="botaoPesquisaFilme">
        <img src="searchicon.png" alt="Pesquisar">
      </div>
    </div>
    <a href="#abrirLogin">
      <button class="botaoEntrar">ENTRAR</button>
    </a>
    <img src="logo.svg" alt="Logo Star+" id="logo">
    <h1>Séries, filmes e esportes que você adora.</h1>
    <button class="botaoAssine">ESCOLHA SEU PLANO</button>
    <button type="button" class="seta"><img src="seta.png"></button>

    <div class="Pesquisa" id="PesquisaResenha">
      <input type="text" placeholder="Pesquisar resenha" class="input" id="textoPesquisaResenha">
      <div class="botaoPesquisa" id="botaoPesquisaResenha">
        <img src="searchicon.png" alt="Pesquisar">
      </div>
    </div>

  </div>
  <div class="displayFilmes"></div>
  <div class="displayPosts"></div>

</body>

<div id="abrirLogin" class="modalAdd">
  <div class="telaModal">
    <a href="#fechar" title="Fechar" class="fechar">X</a>
    <div>
      <p id="naoTemConta">Não tem um conta? Registre-se</p>
    </div>
    <form id="formulario" action="">
      <label for="nome">Usuário:</label>
      <input class="entradas" type="text" id="cemail" value="admin@admin.com" placeholder="Digite o email"
        autocomplete="off" />
      <label for="descricao">Senha:</label>
      <input class="entradas" type="password" id="cpassword" value="adminadmin" placeholder="Digite a senha"
        autocomplete="off" />
      <label for="descricao" id="labelconfirma">Confirme a senha:</label>
      <input class="entradas" id="confirmasenha" type="password" placeholder="Confirme a senha" autocomplete="off" />
      <div class="botoes" id="botaoLogin">
        <p>ENTRAR</p>
      </div>
      <div class="erro" id="erroEscrita">
        <p>O usuário e senha devem possuir pelo menos 3 caracteres.</p>
      </div>
      <div class="erro" id="erroValidacao"></div>
    </form>
  </div>
</div>

<div id="modalPost" class="modalAdd">
  <div class="telaModal">
    <a href="#fechar" title="Fechar" class="fechar">X</a>
    <div>
      <p id="labelCriacao">Criação de postagem</p>
    </div>
    <form id="formularioPost" action="">
      <label for="title">Título:</label>
      <input class="entradas" type="text" id="ctitulo" placeholder="Digite o título do filme" autocomplete="off" />
      <label for="year">Ano:</label>
      <input class="entradas" type="number" id="cano" placeholder="Digite o ano do filme" autocomplete="off" />
      <label for="descricao">Nota:</label>
      <input class="entradas" id="cnota" type="number" step="0.1" max="10" min="0" maxlength="1"
        placeholder="Use os botões para selecionar a nota" autocomplete="off" />
      <textarea class="entradas" id="cresenha" rows="4" cols="50" placeholder="Faça a resenha do filme"></textarea>
      <div id="botaoPublicar" class="botoes">
        <p>PUBLICAR</p>
      </div>
      <div class="erro" id="erroValidacaoResenha"></div>
    </form>
  </div>
</div>

</html>
<script type="text/javascript" src="javascript.js"></script>